@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', 'Open Sans', sans-serif;

    --primary-dark: #3e3e3e;
    --primary-light: #fff;
    --secondary-light: #f6f8fc;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    padding: 2rem .5rem 2rem .5rem;
    min-height: 100vh;
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
    width: 50vh;
    background-color: var(--primary-light);
    margin: 2rem 0 2rem 0;
}

.game-cell {
    border: 1px solid black;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#restart-button {
    font-size: 1rem;
    padding: .5rem;
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    cursor: pointer;
}
#restart-button:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    transition: all .2s ease;
}